<header class="header">
  <nav class="nav-bar">
    <a href="/" class="logo">
      <img src="/images/logo.png" alt="Logo" />
    </a>
    <ul class="nav-links">
      <li>
        <a href="/" class="<%= page === '/' ? 'active-link': '' %> nav-link"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/catalog"
          class="<%= page === '/catalog' ? 'active-link' : '' %> nav-link"
          >Catalog</a
        >
      </li>
      <% if(isAdmin) { %>
      <li>
        <a
          href="/add-book"
          class="<%= page === '/add-book' ? 'active-link' : '' %> nav-link"
          >Add Book</a
        >
      </li>
      <% } %> <% if(isAuth) { %>
      <div class="header-name-dropdown">
        <button class="header-name"><%= user.fullName %></button>
        <div class="header-name-dropdown-content">
          <a href="/logout">Logout</a>
        </div>
      </div>
      <% } else { %>
      <li>
        <a
          href="/login"
          class="<%= page === '/login' ? 'active-link' : '' %> nav-link"
          >Login</a
        >
      </li>
      <% } %>
    </ul>
  </nav>
</header>
