<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/auth.css">
    <link rel="stylesheet" href="css/book.css">
</head>
<body>
  <%- include('./partials/header') %>
  <main class="main"><%- body %></main>
  <% if (footer === "simple") { %>
    <%- include('./partials/simpleFooter'); %>
  <% } else { %>
    <%- include('./partials/footer'); %>
  <% } %>
</body>
</html>
